body {
    font-family: Arial, sans-serif;
    background-color:#fffbfb ;
     height: 400px;
     width: 50%;
     display: block;
     
}
#formulario{
    background-color: #a09b9b;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    margin: 700px; 
    width: 450px;
    margin-top: 100px;
    display:grid;

}
h1{
    text-align: center;
    color: #1a1919;
}
label{
    display: block ;
    margin-top: 10px;
    color: #1a1919;
}
input{
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: white;
    
}