body {
    font-family: Arial, sans-serif;
    background-color:#fffbfb ;
     
}
#formulario{
    background-color: #000000;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(75, 74, 74);
    margin: 700px; 
    width: 450px;
    margin-top: 100px;
    display:grid;

}
h1{
    text-align: center;
    color: #ffeeee;
}
label{
    display: block ;
    margin-top: 10px;
    color: #ffffff;
}
input{
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
p{
    text-align:left;
    color: #ffeeee;


}
button{
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: white;
    
}